/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3rem;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px #857c7c;
}

h2 {
    color: #485563;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    padding-bottom: 40px;
}

/* GAME CONTAINER */
#gameContainer {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    align-content: center;
    justify-items: center;
}

/* GAME BOARD  */
#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
}

/* GAME BOARD CELLS */
.cell {
    border: 3px solid black;
    cursor: pointer;
   font-size: 8rem;
   font-family: 'Fredericka the Great', cursive;
   height: 150px;
   line-height: 120px;
   text-shadow: 2px 2px 4px #000000;
   width: 150px;
}

.cell0 {
    border-left: none;
    border-top: none;
}

.cell1 {
    border-top: none;
}

.cell2 {
    border-top: none;
    border-right: none;
}

.cell3 {
    border-left: none;
}

.cell5 {
    border-right: none;
}

.cell6 {
    border-left: none;
    border-bottom: none;
}

.cell7 {
    border-bottom: none;
}

.cell8 {
    border-bottom: none;
    border-right: none;
}

/* BUTTON */
#restartBtn {
    cursor: pointer;
    color: black;
    background-image: linear-gradient(to right, #485563 0%, #29323c 51%, gray 100%);
    border: 2px dashed black;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2rem;
    margin-top: 30px;
    padding: 10px 25px;
}

#restartBtn:hover {
    border: 4px solid whitesmoke;
   color: whitesmoke;
}

/* FOOTER */
#link {
    text-decoration: none;
    color: inherit;
}

#link:hover {
    color:#485563;
    font-weight: 700;
}